body {
  margin: 0;
}
/* TOP SECTION */

.top-section {
  background-color: #f5f5f5;
  width: 100%;
  height: 55px;
  top: 0;
}

.top-left {
  height: 55px;
}

.github-logo {
  margin-left: 178px;
  display: inline-block;
}

.github-logo span {
  color: black;
  margin-top: 10px;
}

.github-logo span:hover {
  color: #4183C4;
}


.top-input {
  font-size: 13px;
  width: 350px;
  height: 32px;
  margin-left: 10px;
  padding-left: 6px;
  border-radius: 4px;
  display: inline-block;
  border: solid #CCCCCC 1px;
}

.top-input:active {
  border: solid #4183C4 1px;
}

.top-links {
  position: relative;
  display:inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.top-links a {
  text-decoration: none;
  color: black;
  padding-left: 10px;
}

.top-links a:hover {
  color: #4183C4;
}

.top-right {
  float: right;
  margin: 12px 4px 0 0;
  vertical-align: middle;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.top-image img {
  width: 24px;
  border-radius: 2px;
}
.top-right-links {
  display: inline-block;
  float: right;
  margin: 3px 190px 0 10px;
  }

.top-right-links a {
  color: black;
}

.top-octicons {
  padding-left: 20px;
}

.top-octicons:hover {
  cursor: pointer;
  color: #4183C4;
}
/* DROPDOWN STYLE */

.onclick-menu {
    position: relative;
    display: inline-block;
    border: none;
}
.onclick-menu:before {
    content: "";
    width: 177px;

}
.onclick-menu:focus {
    pointer-events: none;
}
.onclick-menu:focus .onclick-menu-content {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.onclick-menu-content {
    position: absolute;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s;
    list-style: none;
    border: solid grey 1px;
    width: 177px;
    padding: 0;
}

.onclick-menu-content button{
  width: 177px;
  height: 42px;
  background: white;

}




.top-username {
  display: inline-block;
  color: black;
  font-size: 15px;
}

.top-username:hover {
  color:#4183C4;
}




/* SIDEBAR STYLES */

.user-sidebar {
  display: inline-block;
  position: absolute;
  margin: 20px 0 0 181px;
}

.sidebar-image img{
  width: 254px;
  border-radius: 5px;
}

.name {
  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 0 5px 0;
}

.username {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 23px;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 24px;
  color: #666;
  margin: 0 0 15px 0;

}

.h5 {
  border-bottom: solid 1px #EEEEEE;
  margin-bottom: 15px;
}

.sidebar-details {
  border-bottom: solid 1px #EEEEEE;
}
.sidebar-details span{
  width: 20px;
  height: 20px;
}

.location {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin-bottom: 5px;
}

.email a {
  text-decoration: none;
  color: #4186CF;
}

.email a:hover {
  text-decoration: underline;
}

.email {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #4186CF;
  margin-bottom: 5px;
}

.joined {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  padding-bottom: 13px;
}

.sidebar-details span {
  color: #CCCCCC;
}

/* SIDEBAR STARS AND ORGS */

.org-numbers {
  border-bottom: solid 1px #EEEEEE;

}
.org-numbers ul {
  list-style-type: none;
  padding-left: 20px;
}

.org-numbers > ul > li {
  display: inline-block;
  text-align: center;
}

.li1 {
  padding-right: 30px;
}

.li2 {
  padding-right: 30px;
}

.numbera {
  text-decoration: none;
}


.number {
  font-size: 30px;
  color: #4183C4;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bolder;
}

.number-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #99999C;
  font-size: 12px;
}

.number-text:hover {
  color: #4183C4;
}

.org-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bolder;
  font-size: 18px;
  margin: 30px 0 14px 0;
}
.org-avatar img {
  width: 46px;
  height: 46px;
  border-radius: 2px;
}
 /* MAIN SECTION */

.main-section {
  position: absolute;
  margin-top: 50px;
}

.main-repos {
  outline: solid red 1px;
  position: absolute;
  display: inline-block;
  width: 807px;
  margin-left: 460px;

}

.each-repo {
  outline: solid blue 1px;
  border-bottom: solid grey 1px;
}
